<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <br>
      <img id="home" src="/assets/images/homePage.jpg" width="960" alt="team">
      <br>
      <br>
      <img id="content" src="/assets/images/cruise.jpg" width="960" alt="team">
      <br>
      <br>
      <img id="about" src="/assets/images/team.jpg" width="960" alt="team">      
      <br>
      <br>
      <img id="contact" src="/assets/images/thankYou.jpg" width="960" alt="team"> 
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>