<% include partials/header.ejs %>
<% include partials/mainNav.ejs %>

<!-- Main Navigation -->
<main>
  <h1>Welcome to the <%= title %> Page</h1>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">

    </div>
  </div>
</main>
<!-- Bottom Navigation -->
<% include partials/bottomNav.ejs %>
<!-- Footer -->
<% include partials/footer.ejs %>