<% include ../partials/header.ejs %>
<% include ../partials/mainNav.ejs %>

<main class="container">
    <!-- Message -->
    <% if (message.length > 0) { %>
    <div class="alert alter-danger">
        <%= message %>
    </div>
    <% } %>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please Login</h1>
            <form method="post" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control"
                    name="username"
                    placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control"
                    name="password"
                    placeholder="Enter password"
                    id="password" required autofocus>
                    or
                    <a href="/register">Register Here</a>
                </fieldset>
                <br>

                <fieldset class="form-grouo-right">
                    <input type="submit" class="btn btn-success"
                    value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>

                </fieldset>
            </form>
        </div>
    </div>    

</main>
<!-- Bottom Navigation -->
<% include ../partials/bottomNav.ejs %>
<!-- Footer -->
<% include ../partials/footer.ejs %>
